
body {
	overflow: scroll;
	height: auto;
    color: rgb(255, 251, 0);
}html {
  height: auto;
  margin: auto;
  width: auto;
  background-image: url("images/New\ realistc\ moon.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  
}
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url("images/COED\ FOOD.png");
    background-size: auto;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}
a {
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    
}
video {
    border: 20cm;
    animation: normal;
}